.title-section__bgd-image {
  text-align: center;
  align-items: center;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.title-section__title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--letters_and_logo_color_white);
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
