.logo-WS {
  font-family: 'Raleway';
  font-size: 26px;
  color: var(--letters_and_logo_color_black);
}
.logo-blue {
  color: var(--link_and_button_color);
}
.logo-WS-white {
  color: var(--letters_and_logo_color_white);
}
