:root {
  --link_and_button_color: #2196f3;
  --letters_and_logo_color_black: #212121;
  --letters_and_logo_color_white: #ffffff;
  --header_border: #ececec;
  --links_and_subtitle_white-grey: #757575;
  --icons_white: #f5f4fa;
  --whiete_social_media: #afb1b8;
  --footer_bg_black: #ffffff1a;
  --footer_contact_grey: #999999;
  --overplay_blue: rgba(33, 150, 243, 0.9);
  --collage_text-box_white: #eeeeee;
  --modal_box_bg_close_black: rgba(0, 0, 0, 0.1);
  --modal_box_text_border_black: rgba(33, 33, 33, 0.2);
}
$letters_and_logo_color_black: #212121;
$letters_and_logo_color_white: #ffffff;
$link_and_button_color: #2196f3;
